*{
    font-family: 'Nanum Gothic', sans-serif;
}
body {
    margin: 0px;
    height: 100vh;
    /* background: rgb(167,0,155);
    background: linear-gradient(152deg, rgba(167,0,155,1) 0%, rgba(233,63,255,1) 46%, rgba(167,0,141,1) 100%); */
    background-color: #FFE53B;
    background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);
}

.main--container {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.192),
    0 6.7px 5.3px rgba(0, 0, 0, 0.288),
    0 12.5px 10px rgba(0, 0, 0, 0.253),
    0 22.3px 17.9px rgba(0, 0, 0, 0.205),
    0 41.8px 33.4px rgba(0, 0, 0, 0.226),
    0 100px 80px rgba(0, 0, 0, 0.233)
}

.grid-1, .grid-2 {
    height: 600px;
    width: 500px;  
}

.grid-1 {
    background-color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.grid-2 {
    background: rgb(55,73,97);
    background: linear-gradient(152deg, rgba(17,81,96,1) 0%, rgba(15,61,74,1) 46%, rgba(11,55,82,1) 100%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.signin-signup-main{
    margin: 70px;
}

.main-heading{
    margin-bottom: 25px;
}

.signin,.signup{
    font-size: 18px;
    text-decoration: none;
    color: rgb(206,206,206);
    display: inline-block;
    

}

.signup{
    border-bottom: 2px solid orange;
    margin-left: 5px;
}
.signup:before{
    
}
.signup:after,.signin:after{
  content: '';
  display: block;
  height: 2px;
  width: 0px;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;

}

.signup:hover:after,.signin:hover:after  {
    width: 100%;
    background: orange;
    
  }

.signin:hover,.signup:hover{
    color: orange;
}

#sign-in{
    display: none;
}

/* .signin:active,.signup:active{
    background-color: rgb(100,215,196); 
    color: rgb(206,206,206);
    border: none;
    height: 30px;
    width: 70px;
    border-radius: 30px;
    outline: none;
    box-shadow: 0 2.8px 5px rgba(0, 0, 0, 0.212),
    0 3.0px 7.5px rgba(0, 0, 0, 0.205),
    0 3.4px 10.5px rgba(0, 0, 0, 0.205),
    0 4.1px 17.5px rgba(0, 0, 0, 0.205);
    background-image: linear-gradient(161deg, #fe8c00 10%, #ff5628 51%, #fe8c00 100%);
    cursor: pointer;
} */

.span-or{
    color: rgb(119,119,119);
    font-size: 13px;
    display: inline-block;
    padding: 5px;
}

.email-field,.password-field,.fullname-field{
    margin-bottom: 25px;
}

.email-label,.pass-label,.fullname-label{
    font-size: 13px;
    color: rgb(206,206,206);
    text-transform: uppercase;
}

input[type=email],input[type=password],input[type=text]{
    background-color: transparent;
    color: orange;
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(119,119,119);
    padding: 10px 0px;
    width: 100%;
}

.login-button,.signup__button{
    background-color: rgb(100,215,196); 
    color: rgb(206,206,206);
    border: none;
    height: 30px;
    width: 100px;
    margin-right: 10px;
    font-size: 13px;
    border-radius: 30px;
    outline: none;
    box-shadow: 0 2.8px 5px rgba(0, 0, 0, 0.212),
    0 3.0px 7.5px rgba(0, 0, 0, 0.205),
    0 3.4px 10.5px rgba(0, 0, 0, 0.205),
    0 4.1px 17.5px rgba(0, 0, 0, 0.205);
    background-image: linear-gradient(161deg, #fe8c00 10%, #ff5628 51%, #fe8c00 100%);
    cursor: pointer;
}


.login-button:hover,.signup__button:hover {
    box-shadow: 0 2.8px 5px rgba(0, 0, 0, 0.212),
    0 3.0px 7.5px rgba(0, 0, 0, 0.205),
    0 3.4px 10.5px rgba(0, 0, 0, 0.205),
    0 4.1px 17.5px rgba(0, 0, 0, 0.205),
    0 6.1px 21.5px rgba(0, 0, 0, 0.205),
    0 10px 40.5px rgba(0, 0, 0, 0.205);
    background-position: right center;
}
.reset-pass{
    text-decoration: none;
    color: rgb(119,119,119);
    font-size: 13px;
}

.cb__div {
    display: flex;
    margin-bottom: 25px;
}

.tos-link {
    color: orange;
    text-decoration: none;
    font-weight: 500;
}

.cb__input-field {
    height: 13px;
    width: 13px;
    margin: 2px 5px 0px 0px;
}

.cb__label {
    font-size: 13px;

    color: rgb(119, 119, 119);
}

.signin__link {
    font-size: 13px;
    color: rgb(119, 119, 119);
    text-decoration: none;
}
.button__div a{
    text-decoration: none;
}
button:focus {
    outline: none;
}
.button__div a button {
    cursor: pointer;
}



